h2{
    font-style: italic;
    padding-left: 7%;
}
table{
    width: 100%;
}
th{
    padding: 4px;
    width: 10%;
}
input{
    width: 100%;
}
button{
    width: 100%;
}
.bigborder{
    margin-top: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 5px;
    border-color: lightgray;
    border-top-style: groove;
    border-bottom-style: groove;
}
.max{
    width: 100%;
    height: 22.5px;
    margin-left: 5px;
    margin-right: 5px;
}
.padding{
    padding-right: 10px;
}
.tabulasizskats{
    width: 10%;
    border: 2px;
    border-color: gray;
    border-style: groove;
    font-weight: bold;
    word-wrap: break-word;
}
.sarkans{
    background-color: rgba(226, 80, 80, 0.5);
}
.dzeltens{
    background-color: rgb(226, 226, 80, 0.5);
}
.zils{
    background-color: rgb(80, 80, 226, 0.5);
}
.izveidoja{
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 3px;
    height: 25px;
    box-sizing: border-box;
    background-color: rgb(122,122,113);
    opacity: 0.9;
    overflow: hidden;
    position: fixed;
    text-align: right;
}
.izveidoja_teksts{
    padding-right: 20px;
}
.thetitle{
    width: 100%;
    overflow: hidden;
    background-color: lightgrey;
    height: 65px;
}
@media print{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}